.bonuses
    padding: 115px 0 120px
    background: url("../img/bonuses__bg.svg") repeat-y calc(50vw + 130px) top / 415px
    h3
        font-size: 72px
        line-height: 80px
        font-weight: 700
        margin: 84px -100px 40px 0
    .recomendations__button-table
        img
            margin-right: 15px
    &__link
        background-color: $yellow
        padding: 15px
        font-size: 18px
        line-height: 24px
        border: none
        position: relative
        margin: 116px 0 0
        max-width: 195px
        &:after
            content: ''
            background-color: $black
            width: 100%
            height: 8px
            position: absolute
            bottom: -8px
            left: 0
        &:hover
            color: $black
    &__text
        margin-bottom: 30px
        &_green
            color: $green
            margin-bottom: 70px