.would-hard
    background-color: $black
    padding: 72px 0 130px
    overflow: hidden
    h3
        color: $white
        font-size: 72px
        line-height: 80px
        font-weight: 700
        margin-bottom: 60px
    .svg-inline
        display: block
        width: 177px
        height: 50px
        margin-bottom: 20px
        path
            fill: $white
    .button
        background-color: $red
        color: $white
        padding: 15px
        font-size: 18px
        line-height: 24px
        border: none
        position: relative
        margin: 124px 0 0
        max-width: 195px
        &:after
            content: ''
            background-color: $white
            width: 100%
            height: 8px
            position: absolute
            bottom: -8px
            left: 0
        &:hover
            color: $white
    &__text
        color: $white
        margin-bottom: 20px
        &_red
            color: $red
    &__decor
        display: block
        margin: 96px 0 101px
    &__images
        width: 358px
        margin-top: 30px
        transform-style: preserve-3d
        position: relative
        .pill
            display: block
            margin: -160px auto 80px + 160px
            width: 25px
            height: 81px
            outline: 1px solid transparent
            &-decor
                display: block
                margin: 0 auto
                object-fit: contain
                position: relative
                &_1
                    width: 176px
                    height: 142px
                    transform: scale(1.2) translateZ(68px)
                    animation: pill-circle-top 8s cubic-bezier(.45,.05,.55,.95) infinite both
                &_2
                    width: 275px
                    height: 221px
                    transform: scale(1.2) translateZ(51.4px)
                    animation: pill-circle-mid 12s cubic-bezier(.45,.05,.55,.95) infinite both
                &_3
                    width: 358px
                    height: 288px
                    transform: scale(1.2) translateZ(27px)
                    animation: pill-circle-bottom 16s cubic-bezier(.45,.05,.55,.95) infinite both

@keyframes pill-circle-top
    0%,100%
        transform: scale(1.2) translateZ(68.5px) translateY(0)
    10%,30%,50%,70%
        transform: scale(1.2) translateZ(68.5px) translateY(-8px)
    20%,40%,60%
        transform: scale(1.2) translateZ(68.5px) translateY(8px)
    80%
        transform: scale(1.2) translateZ(68.5px) translateY(8px)
    90%
        transform: scale(1.2) translateZ(68.5px) translateY(-8px)
@keyframes pill-circle-mid
    0%,100%
        transform: scale(1.2) translateZ(61px) translateY(0)
    10%,30%,50%,70%
        transform: scale(1.2) translateZ(61px) translateY(-8px)
    20%,40%,60%
        transform: scale(1.2) translateZ(61px) translateY(8px)
    80%
        transform: scale(1.2) translateZ(61px) translateY(8px)
    90%
        transform: scale(1.2) translateZ(61px) translateY(-8px)
@keyframes pill-circle-bottom
    0%,100%
        transform: scale(1.2) translateZ(27px) translateY(0)
    10%,30%,50%,70%
        transform: scale(1.2) translateZ(27px) translateY(-8px)
    20%,40%,60%
        transform: scale(1.2) translateZ(27px) translateY(8px)
    80%
        transform: scale(1.2) translateZ(27px) translateY(8px)
    90%
        transform: scale(1.2) translateZ(27px) translateY(-8px)