.no-access
    background: url("../img/noaccess__bg.svg") no-repeat calc(50vw - 600px) -200px, radial-gradient(circle at top left, lighten($red, 15%) 0%, $red 50%, $red 100%)
    padding: 103px 0 128px
    overflow: hidden
    h3
        font-size: 72px
        line-height: 80px
        font-weight: 700
        margin-bottom: 107px
        span
            display: block
            color: $white
    .svg-inline
        display: block
        width: 177px
        height: 50px
        margin-bottom: 90px
        path
            fill: $white
    .button
        background-color: $black
        color: $white
        padding: 15px
        font-size: 18px
        line-height: 24px
        border: none
        position: relative
        margin: 95px 0 0
        max-width: 195px
        &:after
            content: ''
            background-color: $white
            width: 100%
            height: 8px
            position: absolute
            bottom: -8px
            left: 0
        &:hover
            color: $white
    &__text
        color: $white
        margin-bottom: 20px
    &__list
        list-style: none
        margin: 0
        padding: 0
        li
            font-size: 24px
            line-height: 28px
            margin-bottom: 35px
            font-weight: 600
        &-pre
            display: block
            font-size: 36px
            font-weight: 400
            line-height: 42px
            color: $white
            margin-bottom: 92px