.no-return
    background: radial-gradient(circle at bottom left, lighten($yellow, 15%) 0%, $yellow 50%, $yellow 100%)
    padding: 170px 0 156px
    h3
        color: $white
        font-size: 72px
        line-height: 80px
        margin-bottom: 80px
        font-weight: 700
        span
            display: block
            color: $black
    img
        display: block
        margin-top: 80px
    &__text
        margin-bottom: 30px
        &_main
            font-size: 36px
            line-height: 42px
            margin-bottom: 50px
            &-sub
                font-size: 24px
                line-height: 28px
                margin-bottom: 50px
        &_white
            color: $white
    &__cta
        margin-top: 163px - 30px
        max-width: 450px
        .button
            background-color: $black
            color: $white
            font-size: 36px
            line-height: 42px
            padding: 24px
            border: none
            position: relative
            margin: 0 0 17px
            &:after
                content: ''
                background-color: $red
                width: 100%
                height: 8px
                position: absolute
                bottom: -8px
                left: 0
            &:hover
                color: $white