.membership-pricing
    padding: 124px 0 40px
    h2
        font-size: 72px
        line-height: 80px
        font-weight: 700
        margin-bottom: 97px
.membership
    &__container
        display: flex
        flex-wrap: wrap
        position: relative
        .profi, .novice
            flex: 0 0 50%
            img
                display: block
            ul
                list-style: none
                position: relative
                margin: 0 auto
                padding: 73px 0 0
                li
                    position: relative
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    border-bottom: 1px solid $yellow
                    height: 85px
                    padding-left: 26px
                    p
                        margin: 0
                    div
                        display: flex
                        align-items: center
                        flex: 0 0 100%
                        margin-top: -30px
                        .old
                            text-decoration: line-through
                        .new
                            color: $green
                            margin-left: 10px
                    &:before
                        content: ''
                        background: url('../img/icons/member-pricing/angle_right.svg') no-repeat center center
                        display: block
                        position: absolute
                        top: 50%
                        left: 0
                        width: 12px
                        height: 15px
                        transform: translateY(-50%)
                    &.plus
                        &:before
                            background: url('../img/icons/member-pricing/plus.svg') no-repeat center center
                            width: 16px
                            height: 16px
            .heading
                position: relative
                min-height: 302px
                padding: 43px 0 0
                b
                    display: block
                    font-size: 36px
                    line-height: 42px
                    margin-bottom: 24px
                p
                    margin-bottom: 20px
                &:before
                    content: ''
                    height: 100%
                    width: 100vw
                    position: absolute
                    top: 0
        .profi
            img
                margin-bottom: -50px
            ul
                padding-left: 10%
                li
                    p
                        max-width: 390px
            .heading
                background-color: $black
                color: $white
                p
                    max-width: 420px
                &:before
                    background-color: $black
                    left: -100vw
        .novice
            img
                margin-top: 61px
                margin-bottom: -75px
            ul
                padding-right: 10%
                li
                    padding-left: 65px + 26px
                    p
                        max-width: 400px
                    &:before
                        left: 65px
                &:before
                    content: ''
                    width: 1px
                    height: 100%
                    position: absolute
                    top: 0
                    left: 0
                    background-color: $black
            .heading
                background-color: $yellow
                padding-left: 60px
                &:before
                    background-color: $yellow
                    right: -100vw
        .pay-block
            display: flex
            flex: 0 0 100%
            justify-content: space-between
            max-width: 1030px
            margin: 60px auto 0
            .left, .right
                flex: 0 0 296px
                .button
                    background-color: $yellow
                    padding: 15px
                    font-size: 18px
                    line-height: 24px
                    border: none
                    position: relative
                    margin: 0 0 22px
                    &:after
                        content: ''
                        background-color: $black
                        width: 100%
                        height: 8px
                        position: absolute
                        bottom: -8px
                        left: 0
                    &:hover
                        color: $black
                .note
                    font-size: 14px
                    line-height: 18px
                    margin: 0
            .left
                div
                    p
                        font-size: 24px
                        line-height: 28px
                        margin: 47px 0 14px
            .center
                flex: 0 0 354px
                b
                    display: block
                    font-size: 18px
                    line-height: 24px
                    font-weight: 600
                    margin: 51px -30px 14px 0
                .timer
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin-bottom: 15px
                    &-block
                        position: relative
                        background-color: $black
                        padding: 15px
                        color: $yellow
                        height: 61px
                        overflow: hidden
                        flex: 0 0 110px
                        p
                            margin: -4px 0 0
                            text-align: center
                            font-weight: 700
                            font-size: 24px
                            line-height: 28px
                        &:after
                            content: ''
                            background-color: $yellow
                            width: 100%
                            height: 7px
                            position: absolute
                            bottom: 0px
                            left: 0
                        &.seconds
                            .prev, .next
                                position: absolute
                                color: rgba(255, 212, 93, 0.5)
                                left: 50%
                            .prev
                                top: -9px
                            .next
                                bottom: -2px
                            .current
                                width: 27px
                                text-align: right
                                margin: -4px auto 0
                .note
                    font-size: 14px
                    line-height: 18px
                    text-align: center
                    margin: 0
            .right
                div
                    p
                        margin: 0
                    .old
                        text-decoration: line-through
                        color: $red
                        font-size: 24px
                        line-height: 28px
                    .new
                        color: $green
                        font-weight: 700
                        font-size: 24px
                        line-height: 28px
                    .diff
                        font-size: 14px
                        line-height: 18px
                .button
                    margin-top: 14px