.subscription
    background: url("../img/subscription__bg.svg?v=3") no-repeat center top / 3920px, linear-gradient(to bottom, $green, $green) repeat-x center bottom -370px
    position: relative
    overflow: hidden
    padding-top: 400px
    padding-bottom: 64px
    h3
        color: $white
        font-size: 36px
        line-height: 42px
        font-weight: 600
        margin-bottom: 40px
    b
        display: block
        color: $yellow
        font-weight: 400
        font-size: 24px
        line-height: 28px
        margin-bottom: 34px
    &__leaf
        display: block
        position: absolute
        left: 5px
        top: -59px
    &__text
        color: $white
        margin-bottom: 25px
        &_yellow
            color: $yellow
    &__golf
        width: 419px
        margin-left: auto
        margin-right: -240px
        position: relative
        .ball
            display: block
            position: absolute
            bottom: 150px
            left: -15px
        .golf-hole
            display: block