.blacklist-members
    background-color: $black
    padding-bottom: 256px - 86px
    &__notfound
        color: $white
        font-size: 24px
        line-height: 28px
        margin-bottom: 124px
    &__nav
        list-style: none
        display: flex
        margin: 0 0 126px
        padding: 0
        li
            margin-right: 76px
            a
                font-weight: 600
                font-size: 36px
                line-height: 42px
                &:hover
                    text-decoration: none
                &:focus
                    outline: 0
            &:first-child
                a
                    color: $white
                    &:hover, &.active
                        color: $white
                        border-bottom: 4px solid $white
            &:nth-child(2)
                a
                    color: $red
                    &:hover, &.active
                        color: $red
                        border-bottom: 4px solid $red
            &:last-child
                a
                    color: $yellow
                    &:hover, &.active
                        color: $yellow
                        border-bottom: 4px solid $yellow
    &__list
        list-style: none
        display: flex
        flex-wrap: wrap
        margin: 0 -38px 0 0
        padding: 0
        li
            margin-bottom: 86px
            margin-right: 38px
            flex: 0 0 249px
            .avatar
                width: 249px
                height: 249px
                overflow: hidden
                position: relative
                margin-bottom: 18px
                img
                    display: block
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                .reason
                    position: absolute
                    width: 100%
                    height: 100%
                    padding: 14px
                    top: 0
                    left: 0
                    opacity: 0
                    transition: all 0.3s ease
                    b
                        font-weight: 400
                        font-size: 18px
                        line-height: 24px
                    p
                        margin: 10px 0 0
                        font-size: 14px
                        line-height: 18px
                    &:hover
                        opacity: 1
            .content
                color: $white
                b
                    font-size: 24px
                    font-weight: 600
                    line-height: 28px
                p
                    margin: 0
                .date
                    color: $yellow
            &.freelancer
                .avatar
                    border: 10px solid $red
                    .reason
                        background-color: $red
                        color: $white
            &.client
                .avatar
                    border: 10px solid $yellow
                    .reason
                        background-color: $yellow
            &.hidden
                display: none