.portfolio
    padding-top: 140px
    &__nav
        list-style: none
        display: flex
        margin: 0 -38px 78px 0
        padding: 0
        li
            margin-right: 76px
            width: 249px
            display: flex
            flex-direction: column
            align-items: flex-start
            p
                margin: 12px 0 16px
            a
                color: $black
                font-weight: 600
                font-size: 36px
                line-height: 42px
                border-bottom: 4px solid $white
                margin-bottom: 10px
                &:hover
                    text-decoration: none
                &:focus
                    outline: 0
            &:first-child
                a
                    &:hover, &.active
                        border-bottom: 4px solid $black
            &:nth-child(2)
                p
                    color: $red
                a
                    font-size: 24px
                    line-height: 28px
                    &:hover, &.active
                        color: $red
                        border-bottom: 4px solid $red
            &:nth-child(3)
                p
                    color: $green
                a
                    font-size: 24px
                    line-height: 28px
                    &:hover, &.active
                        color: $green
                        border-bottom: 4px solid $green
            &:last-child
                p
                    color: $yellow
                a
                    font-size: 24px
                    line-height: 28px
                    &:hover, &.active
                        color: $yellow
                        border-bottom: 4px solid $yellow
    &__list
        list-style: none
        display: flex
        flex-wrap: wrap
        margin: 0 -38px 0 0
        padding: 0
        li
            margin-bottom: 86px
            margin-right: 38px
            flex: 0 0 249px
            .preview
                width: 249px
                height: 249px
                overflow: hidden
                position: relative
                margin-bottom: 18px
                border: 10px solid $black
                img
                    display: block
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                .info
                    position: absolute
                    width: 100%
                    height: 100%
                    padding: 14px
                    top: 0
                    left: 0
                    opacity: 0
                    transition: all 0.3s ease
                    display: flex
                    flex-direction: column
                    background-color: $black
                    p
                        color: $white
                        font-size: 14px
                        line-height: 18px
                        margin-bottom: 10px
                    .button
                        background-color: $red
                        border: none
                        color: $white
                        padding: 12px
                        margin: 17px 0 0
                        flex: 0 0 38px
                    .text
                        flex: 1 1 auto
                        p
                            &:last-child
                                margin-top: 20px
                    &:hover
                        opacity: 1
            &.web
                .preview
                    border: 10px solid $red
                    .info
                        background-color: $red
                        color: $white
                        .button
                            background-color: $yellow
                            color: $black
            &.advert
                .preview
                    border: 10px solid $green
                    .info
                        background-color: $green
            &.other
                .preview
                    border: 10px solid $yellow
                    .info
                        background-color: $yellow
                        p
                            color: $black
            &.hidden
                display: none