.feedback
    background-color: $green
    padding-top: 100px
    margin-bottom: 150px
    h3
        color: $white
        font-size: 36px
        line-height: 42px
        font-weight: 700
        letter-spacing: 0.02em
    form
        background-color: $yellow
        padding: 60px 50px
        margin: 90px 75px -100px 0
        .button
            background-color: $black
            color: $white
            font-size: 24px
            line-height: 28px
            padding: 17px
            border-bottom: 6px solid $red
            width: 100%
        .note
            margin: 20px 0 -35px
            font-size: 14px
            line-height: 18px
    &__text
        color: $white
        margin: 15px 0 0
    &__img
        display: block
        margin-top: -60px
        margin-left: -70px