.price
    padding: 139px 0 121px
    h3
        font-size: 36px
        line-height: 42px
        margin-bottom: 42px
    p
        margin-bottom: 56px
    img
        display: block
        margin: 0 0 0 40px