.services
    background-color: $black
    padding: 97px 0 83px
    h2
        color: $white
        font-size: 36px
        line-height: 42px
    &__img
        display: block
        margin-top: 60px
        margin-left: -120px
    &__summary
        position: relative
        background-color: $white
        z-index: 1
        max-width: 451px
        padding: 32px 33px
        margin: 70px 0 73px -22px
        p
            background-color: $white
            display: flex
            justify-content: center
            align-items: center
            width: calc(100% + 66px)
            height: 87px
            margin: -32px -33px
            padding: 0 22px
        &:before
            content: ''
            width: 380px
            height: 28px
            background-color: $yellow
            position: absolute
            top: 5px
            right: -17px
            z-index: -1
            transform: skewX(40deg) rotate(-10deg)
        &:after
            content: ''
            width: 380px
            height: 28px
            background-color: $red
            position: absolute
            bottom: 5px
            left: -17px
            z-index: -1
            transform: skewX(40deg) rotate(-10deg)
    &__container
        .left, .right
            b
                display: block
                font-size: 24px
                line-height: 28px
                margin-bottom: 13px
            ul
                margin: 0
                margin-right: -100px
                padding: 0
                list-style: none
                li
                    display: flex
                    align-items: center
                    color: $white
                    font-size: 18px
                    line-height: 24px
                    &:before
                        content: ''
                        background: url("../img/icons/angle__right.svg") no-repeat center center / contain
                        width: 8px
                        flex: 0 0 8px
                        height: 9px
                        margin-right: 12px
                    &:last-child
                        padding-left: 20px
                        &:before
                            display: none
            .button
                border-bottom: 4px solid $white
                font-size: 18px
                line-height: 24px
                max-width: 297px
                padding: 13px 6px
                margin-top: 56px
        .left
            b
                color: $red
            ul
                li
                    &:before
                        filter: invert(80%) sepia(47%) saturate(3375%) hue-rotate(341deg) brightness(129%) contrast(108%)
            .button
                background-color: $red
                color: $white
        .right
            margin-left: -50px
            b
                color: $yellow
                margin-bottom: 38px
            ul
                li
                    &:before
                        filter: invert(91%) sepia(79%) saturate(1171%) hue-rotate(314deg) brightness(101%) contrast(102%)
            .button
                background-color: $yellow