.examples
    background-color: $yellow
    position: relative
    z-index: 1
    padding: 74px 0 82px
    .button
        padding: 20px 44px
        font-size: 18px
        min-width: 358px
        margin: 94px - 32px auto 0
        justify-content: flex-start
        img
            width: 14.83px
            height: 18px
            margin-right: 40px
    &__container
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        .example
            display: flex
            align-items: center
            justify-content: center
            flex: 0 0 31%
            height: 202px
            margin-bottom: 32px
            transition: all 0.8s ease
            a
                display: block
                width: 100%
                height: 100%
                img
                    display: block
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
            &_green
                border: 10px solid $green
            &_black
                border: 10px solid $black
            &_red
                border: 10px solid $red
            &.hidden
                height: 0
                border: 0