.faq
    padding: 77px 0 112px
    .block
        &__heading
            font-size: 36px
            line-height: 42px
            margin-bottom: 45px
    .accordion
        .card
            border: none
            &-header
                padding: 0
                border: none
                background: none
            &-body
                padding: 32px 37px
                border: 1px solid $yellow
            &:last-child
                .button
                    border-bottom: none
        .button
            border: none
            border-bottom: 1px solid $black
            width: 100%
            text-align: left
            justify-content: flex-start
            padding: 14px 37px
            font-size: 18px
            line-height: 24px
            font-weight: 600
            transition: all 0.3s ease
            position: relative
            &:before
                content: ''
                background: url("../img/icons/angle__right.svg")
                position: absolute
                left: -15px
                top: 50%
                width: 31px
                height: 36px
                transform: translateX(-40px) translateY(-50%)
                pointer-events: none
                opacity: 0
                transition: all 0.3s ease
            &[aria-expanded=true]
                border-bottom: 1px solid $yellow
                background-color: $yellow
                &:before
                    opacity: 1
                    transform: translateY(-50%)
            &:focus
                outline: 0