.forever
    background-color: $green
    padding: 144px 0 139px - 18px
    .block
        &__heading
            color: $white
            font-size: 72px
            line-height: 80px
            font-weight: 700
            margin-top: -20px
            margin-bottom: 40px
    .button
        font-size: 18px
        line-height: 24px
        padding: 13px 6px
        width: 297px
        border: none
        position: relative
        margin: 0 0 18px
        &:after
            content: ''
            background-color: $yellow
            width: 100%
            height: 5px
            position: absolute
            bottom: -5px
            left: 0
    &__button
        &-list
            background-color: $white
            &:hover
                color: $black
        &-enter
            background-color: $black
            color: $white
            &:hover
                color: $white
    &__logo
        .svg-inline
            width: 177px
            height: 50px
            margin-right: 25px
            path
                fill: $white
    &__post-title
        color: $yellow
        font-size: 24px
        line-height: 28px
        font-weight: 600
        max-width: 324px
    &__text
        color: $white
        max-width: 425px
        margin-bottom: 56px
        span
            color: $yellow
            display: block
    &__summary
        position: relative
        background-color: $yellow
        z-index: 1
        max-width: 451px
        padding: 32px 33px
        margin: 70px 0 73px -40px
        p
            background-color: $yellow
            display: flex
            justify-content: center
            align-items: center
            font-size: 24px
            line-height: 28px
            text-align: center
            font-weight: 600
            width: 451px
            height: 87px
            margin: -32px -33px
        &:before
            content: ''
            width: 380px
            height: 28px
            background-color: $white
            position: absolute
            top: 5px
            right: -17px
            z-index: -1
            transform: skewX(40deg) rotate(-10deg)
        &:after
            content: ''
            width: 380px
            height: 28px
            background-color: $black
            position: absolute
            bottom: 5px
            left: -17px
            z-index: -1
            transform: skewX(40deg) rotate(-10deg)
    &__img
        display: block
        margin-top: 220px