.founder
    background-color: $black
    padding: 186px 0 60px
    overflow: hidden
    .block
        &__heading
            font-size: 72px
            line-height: 80px
            font-weight: 700
            color: $white
            margin-bottom: 55px
    .button
        border-color: $yellow
        color: $yellow
        font-size: 18px
        line-height: 24px
        padding: 15px 30px
        margin: 25px 0 0
        svg
            width: 14px
            height: 18px
            margin-right: 15px
            path
                stroke: $yellow
    &__image
        display: block
        margin: -140px 0 -500px 0
        transition: all 0.8s ease
        transform: translateY(700px)
    &__heading
        display: flex
        align-items: center
        margin-bottom: 70px
        b
            color: $white
            font-size: 36px
            line-height: 42px
            letter-spacing: 0.02em
            span
                display: block
                color: $yellow
        img
            margin-left: 50px
    &__text
        max-width: 500px
        color: $yellow
        margin-bottom: 28px
        &_white
            color: $white
        span
            font-weight: 600
            font-size: 24px
            line-height: 28px
    &__achievments
        max-height: 110px
        overflow: hidden
        max-width: 680px
        position: relative
        transition: all 0.8s ease
        p
            color: $yellow
            margin-bottom: 20px
            display: flex
            align-items: center
            &:before
                content: ''
                background: url("../img/icons/angle__right.svg") no-repeat center center / contain
                width: 8px
                flex: 0 0 8px
                height: 9px
                filter: invert(1)
                margin-right: 12px
        &:after
            content: ''
            width: 100%
            height: 100%
            position: absolute
            bottom: 0
            left: 0
            background: linear-gradient(to bottom, rgba(0,0,0,0), $black)
            pointer-events: none
            transition: all 0.8s ease
    &__cite
        border: 1px solid $yellow
        padding: 38px 46px
        max-width: 640px
        position: relative
        margin-top: 55px
        p
            color: $white
        &:before
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 40px 30px 0 0
            border-color: $yellow transparent transparent transparent
            position: absolute
            top: -1px
            right: -30px
        &:after
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 39px 29px 0 0
            border-color: $black transparent transparent transparent
            position: absolute
            top: 0px
            right: -28px
    &.clicked
        .founder
            &__image
                transform: translateY(270px)
            &__achievments
                max-height: 100%
                &:after
                    opacity: 0
            &__cite
                &:before
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 0 30px 50px
                    border-color: transparent transparent $yellow transparent
                    position: absolute
                    top: -30px
                    right: -1px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 0 28px 47px
                    border-color: transparent transparent $black transparent
                    position: absolute
                    top: -28px
                    right: 0px