.ksf-freelancer
    position: relative
    padding: 91px 0 133px
    .block
        &__heading
            font-size: 72px
            line-height: 80px
            margin-bottom: 121px
            font-weight: 700
            span
                color: $yellow
    .button
        background-color: $yellow
        font-size: 18px
        line-height: 24px
        padding: 13px 6px
        width: 297px
        border: none
        position: relative
        margin: 0
        &:after
            content: ''
            background-color: $black
            width: 100%
            height: 5px
            position: absolute
            bottom: -5px
            left: 0
        &:hover
            color: $black
    &__decor
        height: calc(100% + 91px + 133px)
        width: 46px
        background: url("../img/icons/freelancer/decor.svg")
        position: absolute
        left: -46px - 66px
        top: -91px
    &__list
        list-style: none
        display: flex
        flex-direction: column
        margin: 0
        padding: 0
        max-width: 600px
        li
            margin-bottom: 109px
            .counter
                display: block
                margin-bottom: 65px
            b
                display: block
                font-size: 24px
                line-height: 28px
                margin-bottom: 54px
                font-weight: 600
            p
                span
                    display: block
                    color: $yellow
                    font-size: 24px
                    line-height: 28px
                    font-weight: 600
            &:first-child
                max-width: 444px
            &:nth-child(2)
                max-width: 480px
            &:last-child
                p
                    max-width: 383px