.hard
    background-color: $black
    padding: 136px 0 149px
    .block
        &__heading
            color: $red
            font-size: 72px
            line-height: 80px
            margin-bottom: 96px
            font-weight: 700
    &__text
        color: $white
        max-width: 590px
        margin-bottom: 37px
        &_red
            color: $red
    &__note
        border: 1px solid $white
        color: $yellow
        padding: 27px 34px
        margin-bottom: 45px
        max-width: 535px
        span
            display: block
            font-size: 24px
            line-height: 28px
    &__logo
        display: block
        margin-top: 60px
    &__buttons
        display: flex
        align-items: flex-end
        justify-content: space-between
        .button
            font-size: 24px
            line-height: 28px
            padding: 21px
            font-weight: 600
            width: 100%
            border: none
            position: relative
            margin: 0 0 18px
            &:after
                content: ''
                background-color: $yellow
                width: 100%
                height: 5px
                position: absolute
                bottom: -5px
                left: 0
        .left, .right
            flex: 0 0 48%
        .left
            .hard__crab
                display: block
                margin: 0 0 -10px auto
                width: 60px
                height: 60px
            .button
                background-color: $red
                color: $white
                &:after
                    background-color: $white
                &:hover
                    color: $white
        .right
            .button
                background-color: $yellow
                &:after
                    background-color: $white
                &:hover
                    color: $black