.how-it-works
    position: relative
    z-index: 1
    background-color: $white
    .block
        &__heading
            font-size: 72px
            line-height: 80px
            font-weight: 700
            display: block
            margin-top: 211px
    p
        margin: 30px 0 0
        font-size: 24px
        line-height: 28px
    img
        display: block
        margin-top: 60px
        margin-bottom: 30px
        transition: all 2s ease-out
    &--continue
        position: relative
        //overflow: hidden
        padding-top: 117px
        padding-bottom: 258px
        h2
            font-size: 36px
            line-height: 42px
            letter-spacing: 0.02em
            margin-bottom: 63px
            font-weight: 600
            span
                color: $white
        p
            margin: 0
            font-size: 24px
            line-height: 28px
            font-weight: 600
            span
                color: $white
        &__decor
            width: 3840px
            height: 960px
            background-color: $yellow
            position: absolute
            z-index: -1
            top: 0
            left: calc(50vw - 1920px)
            transform: rotate(-15deg) scale(1.2) translateY(-308px)
        &__button
            background-color: $black
            color: $white
            font-size: 18px
            line-height: 24px
            padding: 13px 6px
            width: 297px
            border: none
            position: relative
            margin: 83px 0
            &:after
                content: ''
                background-color: $white
                width: 100%
                height: 5px
                position: absolute
                bottom: -5px
                left: 0
            &:hover
                color: $white