.jumbotron
    padding-top: 68px
    margin-top: 60px
    h1
        font-size: 72px
        line-height: 80px
        font-weight: 700
    h2
        margin-top: 78px
        font-size: 36px
        font-weight: 700
        line-height: 42px
        letter-spacing: 0.02em
    h3
        margin: 69px 0 68px
        font-weight: 700
        font-size: 24px
        line-height: 28px
    p
        margin: 78px 0 0
    &__cube
        position: relative
        width: 234px
        margin: 55px 0 0 92px
        .top, .bottom, .top-left, .top-center, .right
            display: block
            width: 234px
            height: 234px
            outline: 1px solid transparent
            transform-style: preserve-3d
            backface-visibility: hidden
        .top
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg)
            background-color: $black
        .top-left
            position: absolute
            top: 143px
            left: -82px
            background-color: $green
            transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg)
        .top-center
            position: absolute
            top: 143px
            right: -82px
            background-color: $white
            transform: rotateX(-35deg) rotateY(45deg) rotateZ(0deg)
        .right
            position: absolute
            top: 143px
            right: -247px
            background-color: $red
            transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg)
        .bottom
            position: absolute
            bottom: -286px
            right: -165px
            background-color: $yellow
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg)
    &__idols
        display: block
        margin: -140px 0 -72px auto
        margin-left: auto
    &__text
        &_red, &_green
            font-size: 36px
            line-height: 42px
            font-weight: 600
        &_red
            color: $red
        &_green
            color: $green
    &_become-member
        background-color: $red
        padding-bottom: 150px
        position: relative
        overflow: hidden
        h1
            span
                display: block
                color: $white
        .jumbotron
            &__cube
                display: block
                margin: 55px 0 0 -193px
            &__gradient
                display: block
                position: absolute
                pointer-events: none
                z-index: 1
                top: -60px
                left: calc(50vw + 214px)
            &__logo
                display: block
                width: 167px
                height: 138px
            &__list
                list-style: none
                max-width: 256px
                margin: 78px 0 137px - 60px
                padding: 0
                li
                    display: flex
                    align-items: center
                    margin-bottom: 60px
                    img
                        display: block
                        width: 46px
                        flex: 0 0 46px
                        height: 75px
                        object-fit: contain
                    p
                        color: $white
                        margin: 0 0 0 38px
    &_black-list
        background-color: $black
        position: relative
        overflow: hidden
        padding-bottom: 213px
        h1
            color: $white
            margin-bottom: 60px
        .jumbotron
            &__cube
                display: block
                margin: 55px 0 0 -3px
            &__gradient
                display: block
                position: absolute
                pointer-events: none
                z-index: 1
                top: -56px
                right: 50vw
                transform: translateX(397px)
            &__text
                color: $white
                margin: 0 0 30px
                &_last
                    margin-top: 40px
                &-container
                    margin-bottom: 60px
            &__logo
                display: block
                margin-top: 137px - 30px
    &_members
        padding-bottom: 207px
        h1
            margin-bottom: 60px
        .jumbotron
            &__cube
                display: block
                margin: 55px 0 0 -3px
                .top, .bottom, .top-left, .top-center, .right
                    border: 1px solid $black
                    background-color: $white
            &__text
                margin: 0 0 30px
                &_last
                    margin-top: 40px
                &-container
                    margin-bottom: 60px
            &__logo
                display: block
                margin-top: 137px - 30px
    &_become-client
        padding-bottom: 90px
        background-color: $yellow
        position: relative
        overflow: hidden
        h1
            margin-bottom: 60px
            span
                display: block
                color: $white
        .jumbotron
            &__cube
                display: block
                margin: 55px 0 0 -3px
            &__gradient
                display: block
                position: absolute
                pointer-events: none
                z-index: 1
                top: -60px
                left: calc(50vw + 214px)
            &__text
                margin: 0 0 30px
                &_main
                    font-size: 36px
                    line-height: 42px
                    margin-bottom: 70px
            &__logo
                display: block
                margin-top: 47px - 30px
    &_portfolio
        background-color: $green
        position: relative
        padding-bottom: 213px
        h1
            color: $white
            margin-bottom: 60px
        .jumbotron
            &__cube
                display: block
                margin: 55px 0 0 -3px
            &__gradient
                display: block
                position: absolute
                pointer-events: none
                z-index: 10
                top: -56px
                right: 50vw
                transform: translateX(397px) translateZ(190px)
            &__text
                color: $white
                margin: 0 0 30px
                span
                    display: block
                    color: $yellow
                &_main
                    font-size: 36px
                    line-height: 42px
                    margin-bottom: 50px
                    font-weight: 600
                &_last
                    margin-top: 50px
            &__logo
                display: block
                margin-top: 137px - 30px