.membership
    padding: 124px 0 165px
    .block
        &__heading
            font-weight: 700
            font-size: 72px
            line-height: 80px
            margin-bottom: 180px
    &__list
        list-style: none
        display: flex
        justify-content: space-between
        li
            flex: 0 0 20%
            img
                display: block
                height: 116px
                object-fit: cover
                margin-bottom: 45px
            p
                margin: 0
            &:last-child
                img
                    width: 180px