.quality
    overflow: hidden
    position: relative
    background-color: $red
    min-height: 682px
    padding: 99px 0 93px
    .svg-inline
        width: 177px
        height: 50px
        path
            fill: $white
    .block
        &__heading
            font-size: 72px
            line-height: 80px
            font-weight: 700
            margin-bottom: 60px
    .button
        background-color: $black
        color: $white
        font-size: 18px
        line-height: 24px
        padding: 13px 26px
        width: 297px
        border: none
        position: relative
        margin: 83px - 24px 0 0
        &:after
            content: ''
            background-color: $yellow
            width: 100%
            height: 5px
            position: absolute
            bottom: -5px
            left: 0
        &:hover
            color: $white
    &__decor
        position: absolute
        display: block
        right: -400px
        top: -375px
    &__text
        max-width: 590px
        margin-bottom: 24px
        &_white
            color: $white
            max-width: 420px