.recomendations
    padding-bottom: 127px 
    .block
        &__heading
            font-size: 36px
            line-height: 42px
            font-weight: 600
            letter-spacing: 0.02em
            margin-bottom: 60px
    .button
        img
            width: 14.83px
            height: 18px
            margin-left: 0
            margin-right: 10px
    &__fish
        position: relative
        margin: -120px 0 0 -90px
        img
            display: block
        .fish
            &_small
                position: absolute
                right: 100px
                top: 50px
                &_1
                    position: absolute
                    left: 300px
                    top: 20px
                &_2
                    position: absolute
                    left: 140px
                    top: 50px
                &_3
                    position: absolute
                    bottom: 90px
                    right: 190px
                &_4
                    position: absolute
                    bottom: 90px
                    right: 130px
                    width: 50px
                    height: 49px
                &_5
                    position: absolute
                    bottom: 50px
                    right: 160px
                    width: 48px
                    height: 38px
    &__table
        margin: 0 0 18px
        padding: 0
        list-style: none
        max-height: 140px
        overflow: hidden
        transition: all 1.8s ease
        li
            display: flex
            div
                border-bottom: 1px solid #000000
                border-right: 1px solid #000000
                transition: all 0.8s ease
                padding: 10px
                p
                    transition: all 0.8s ease
                    margin: 0
                &:first-child
                    padding-left: 0
                    flex: 0 0 110px
                    p
                        color: $green
                &:nth-child(2)
                    flex: 1 1 100%
                &:last-child
                    padding-right: 0
                    border-right: none
                    text-align: right
                    flex: 0 0 110px
            &.hidden
                display: none
            &:first-child
                div
                    border-top: 1px solid #000000
        &.show
            max-height: 100%
    &__button
        &-table
            border: none
            text-decoration: underline
            padding: 0
            font-size: 18px
            line-height: 24px
        &-link
            background-color: $yellow
            font-size: 18px
            line-height: 24px
            padding: 13px 6px
            width: 297px
            border: none
            position: relative
            margin: 97px 0 0
            &:after
                content: ''
                background-color: $black
                width: 100%
                height: 5px
                position: absolute
                bottom: -5px
                left: 0
            &:hover
                color: $black
    &__text
        max-width: 447px
        &_green
            color: $green
    &__title
        display: block
        font-size: 24px
        line-height: 28px
        margin: 99px 0 22px