@keyframes shake-vertical
    0%,100%
        transform: translateY(0)
    10%,30%,50%,70%
        transform: translateY(-8px)
    20%,40%,60%
        transform: translateY(8px)
    80%
        transform: translateY(6.4px)
    90%
        transform: translateY(-6.4px)

.truth
    background-color: $yellow
    padding: 123px 0 72px
    .block
        &__heading
            font-size: 72px
            line-height: 80px
            margin-bottom: 65px
            font-weight: 700
            span
                color: $white
                display: block
    &__text
        max-width: 490px
        &_white
            color: $white
            font-weight: 600
    &__auto
        img
            display: block
        .question
            margin: 30px auto 40px 120px
            animation: shake-vertical 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both
        .auto
            margin-left: -80px