html, body
    height: 100%
body
    display: flex
    flex-direction: column
    overflow-x: hidden
    &.noscroll
        overflow-y: hidden!important
p
    font-size: 18px
    line-height: 24px
.wrapper
    flex: 1 0 auto
    width: 100%
    margin: 0 auto
.footer
    flex-shrink: 0

$black: #001E20
$yellow: #FFC856
$red: #FF513F
$green: #007550

@import "magnific-popup"

@import "swiper"

@import "header"
@import "content"
@import "main-blocks/jumbotron"

@import "main-blocks/examples"
@import "main-blocks/howitworks"
@import "main-blocks/recomendations"
@import "main-blocks/founder"
@import "main-blocks/quality"
@import "main-blocks/truth"
@import "main-blocks/membership"
@import "main-blocks/forever"
@import "main-blocks/freelancer"
@import "main-blocks/hard"
@import "main-blocks/faq"

@import "blacklist/members"

@import "members/members"

@import "become_client/services"
@import "become_client/price"
@import "become_client/feedback"

@import "become_member/pricing"
@import "become_member/subscription"
@import "become_member/bonuses"
@import "become_member/hard"
@import "become_member/noaccess"
@import "become_member/noreturn"

@import "portfolio/portfolio"

@import "profile/head"
@import "profile/profile"
@import "profile/slider"
@import "profile/table"
@import "profile/contacts"

@import "footer"

@import "media"