=placeholder
  &::-webkit-input-placeholder
      @content
  &:-moz-placeholder
      @content
  &::-moz-placeholder
      @content
  &:-ms-input-placeholder
      @content
  &::placeholder
      @content
.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease-out
.mfp-fade.mfp-bg.mfp-ready 
  opacity: 0.8
.mfp-fade.mfp-bg.mfp-removing 
  opacity: 0
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.15s ease-out
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0
.mfp-popup
  position: relative
  background: $white
  padding: 28px
  width: auto
  max-width: 480px
  margin: 20px auto
  border-radius: 20px
  &__heading
    display: block
    font-size: 72px
    line-height: 80px
  &__text
    font-size: 24px
    line-height: 28px
    margin: 36px 0 0
  &.mfp-custom
    border: 18px solid $yellow
    border-radius: 0
    max-width: 590px
    padding: 60px 90px
    .crab
      display: block
      margin: -40px auto -20px
      width: 280px
      height: 280px
    .mfp-close
      background: url("../img/icons/cross.svg") no-repeat center center / contain
      font-size: 0
      width: 28px
      height: 28px
      right: 27px
      top: 33px
      opacity: 1
#thankyou
  min-height: 300px
  .block-heading
      margin: 100px auto
.mfp-iframe-holder
  .mfp-content
      height: 100%
      width: 100%
      max-width: 98%
.input, .custom-select
  padding: 19px
  border: none
  border-radius: 0
  height: 57px
  font-size: 18px
  color: $black
  position: relative
  margin-bottom: 10px
  +placeholder
      font-size: 18px
      color: #6a6a6a