.footer
    background-color: $yellow
    min-height: 122px
    padding: 25px 0
    color: $black
    p
        font-size: 18px
        line-height: 24px
        margin: 0
    a
        text-decoration: underline
        color: $black
        font-size: 18px
        line-height: 24px
        text-align: right
        display: flex
        align-items: flex-end
        justify-content: flex-end
    &_green
        background-color: $green
        color: $white
        a
            color: $white
    &_black
        background-color: $black
        color: $white
        a
            color: $white