.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid $black
    background: none
    color: $black
    padding: 6px 11px
    font-size: 14px
    text-align: center
    line-height: 1
    cursor: pointer
    &:hover
        text-decoration: none
    &_black
        background-color: $black
        color: $white
        font-size: 18px
        line-height: 24px
        padding: 15px 15px 18px
        position: relative
        &:after
            content: ''
            width: 100%
            height: 8px
            position: absolute
            background-color: $white
            left: 0px
            bottom: 0px
            border: 1px solid $black
        &:hover
            color: $white
.header
    background-color: $white
    min-height: 60px
    position: fixed
    width: 100%
    z-index: 10
    .navbar-brand
        padding: 0
        margin: 0 53px - 8px 0 0
        display: flex
        align-items: center
        img, svg
            width: 114px
            height: 29px
        &:focus
            outline: 0
    &__navbar
        padding: 0
    &__button
        margin-left: 30px
        flex: 0 0 136px
    .navbar-toggler[aria-expanded=false]
        .navbar-toggler-icon
            background: url("../img/menu__icon.svg") no-repeat center center
            width: 34px
            height: 22px
    .navbar-toggler-icon
        background: url("../img/menu__icon.svg") no-repeat center center
        width: 34px
        height: 22px
    .navbar-toggler
        border: none
        margin-top: -4px
        &:focus
            outline: 0
    .navbar-collapse
        flex: 1 1 100%
    .navbar-nav
        justify-content: space-between
        flex: 1 1 100%
        .nav-item
            display: flex
            align-items: center
            justify-content: center
            padding: 0
            flex: 1 1 auto
            .nav-link
                display: flex
                justify-content: center
                align-items: center
                text-align: center
                color: $black
                font-size: 14px
                padding: 20px 8px
                transition: all 0.3s ease
                position: relative
            &.active
                .nav-link
                    position: relative
                    &:before, &:after
                        content: ''
                        width: calc(100% - 16px)
                        height: 1px
                        background-color: $black
                        position: absolute
                        left: 50%
                        transform: translateX(-50%)
                    &:before
                        top: 16px
                    &:after
                        bottom: 16px
            &:nth-child(2)
                &.active
                    background-color: $red
                    .nav-link
                        color: $white
                        &:before,&:after
                            background-color: $white
            &:nth-child(3)
                &.active
                    background-color: $yellow
            &:nth-child(4)
                &.active
                    background-color: $green
                    .nav-link
                        color: $white
                        &:before,&:after
                            background-color: $white
            &:last-child
                &.active
                    background-color: #20393B
                    .nav-link
                        color: $white
                        &:before,&:after
                            background-color: $white
    &_become-member
        .navbar-brand
            svg
                path
                    fill: $red
    &_become-client
        .navbar-brand
            svg
                path
                    fill: $yellow
    &_portfolio
        .navbar-brand
            svg
                path
                    fill: $green