.profile__contacts
    background-color: $black
    max-width: 100vw
    height: 100vh
    margin: 0 -8px
    padding: 0
    border-radius: 0
    color: $white
    .mfp-close
        color: $white
        font-size: 48px
    .logo
        display: block
        margin: 55px 170px 52px auto
        &_big
            display: block
            margin: 266px 0 0 auto
    .box
        display: block
        margin: 0 0 51px 0
    .links
        list-style: none
        margin: 0 170px 0 -170px
        padding: 0
        li
            margin-bottom: 17px
            a
                display: flex
                align-items: flex-end
                justify-content: flex-end
                text-align: right
                font-size: 36px
                line-height: 42px
                font-weight: 600
                letter-spacing: 0.02em
            a.phone
                color: $white
                &:hover
                    color: $white
            a.link
                color: $red
                text-decoration: underline
                &:hover
                    color: $red