.profile__header
    padding: 63px 0 0
    margin-top: 60px
    h1
        font-size: 72px
        line-height: 80px
        font-weight: 700
    .button
        max-width: 292px
        margin: 30px 0 80px
    &-aboutme
        border-left: 1px solid $black
        padding-left: 18px
        margin-left: -18px
        b
            display: block
            font-size: 24px
            line-height: 28px
            margin-bottom: 22px
        p
            margin: 0
    &-info
        margin-top: 60px
        display: flex
        align-items: flex-start
        .avatar
            position: relative
            width: 306px
            img
                display: block
                width: 288px
                height: 288px
                object-fit: cover
                object-position: 50%
            p
                font-size: 14px
                line-height: 18px
                margin: 7px 0 0
            &:before
                content: ''
                height: 288px
                width: 20px
                border: 1px solid $black
                border-bottom: none
                border-right: none
                position: absolute
                top: 16px
                left: -20px
                transform: skewY(-57deg)
            &:after
                content: ''
                width: 277px
                height: 32px
                border: 1px solid $black
                border-left: none
                border-top: none
                position: absolute
                bottom: -7px
                left: -5px
                transform: skewX(-45deg)
        .specializations
            list-style: none
            padding: 0
            margin: 0 0 0 15px
            li
                font-size: 18px
                line-height: 24px
                margin-bottom: 12px
    &-previews
        position: relative
        width: 234px
        margin-left: 92px
        margin-top: -28px
        .top, .bottom, .top-left, .top-center, .right
            display: block
            width: 234px
            height: 234px
            border: 1px solid $black
            outline: 1px solid transparent
            transform-style: preserve-3d
            backface-visibility: hidden
        .top
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg)
        .top-left
            position: absolute
            top: 144px
            left: -82px
            transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg)
        .top-center
            position: absolute
            top: 144px
            right: -82px
            transform: rotateX(-35deg) rotateY(45deg) rotateZ(0deg)
        .right
            position: absolute
            top: 143px
            right: -247px
            transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg)
        .bottom
            position: absolute
            bottom: -287px
            right: -165px
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg)