.profile
    &-achievments
        padding: 123px 0 152px
        h3
            font-size: 36px
            line-height: 42px
            font-weight: 600
            letter-spacing: 0.02em
            margin-bottom: 14px
            margin-left: 75px
        .button
            max-width: 292px
            margin: 180px auto 0
    &-certificates
        padding: 212px 0 159px
        h3
            font-size: 36px
            line-height: 42px
            font-weight: 600
            letter-spacing: 0.02em
            margin-bottom: 14px
            margin-left: 75px
    &-reviews
        padding: 241px 0 0
        h3
            font-size: 36px
            line-height: 42px
            font-weight: 600
            letter-spacing: 0.02em
            margin-bottom: 14px
            margin-left: 40px
        &__idol
            display: block
            margin-left: auto
            margin-right: 110px
            margin-top: 50px
            pointer-events: none
    &-portfolio
        padding-top: 120px
        &__title
            display: flex
            align-items: center
            font-weight: 400
            font-size: 18px
            line-height: 24px
            margin: 10px 0 8px
            img
                display: block
                margin-right: 15px
        &__fav
            position: relative
            img
                display: block
                width: 100%
                height: 540px
            .info
                position: absolute
                width: 100%
                height: 100%
                padding: 24px
                top: 0
                left: 0
                opacity: 0
                transition: all 0.3s ease
                display: flex
                flex-direction: column
                background-color: $black
                p
                    color: $white
                    font-size: 14px
                    line-height: 18px
                    margin-bottom: 10px
                .button
                    background-color: $red
                    border: none
                    color: $white
                    padding: 12px
                    margin: 17px 0 0
                    flex: 0 0 38px
                .gallery
                    display: none
                &:hover
                    opacity: 1
        &__grid
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            .swiper-slide
                flex: 0 0 540px
                .grid
                    display: flex
                    justify-content: space-between
                    flex-wrap: wrap
                    .cell
                        flex: 0 0 250px
                        height: 250px
                        position: relative
                        margin-bottom: 40px
                        img
                            display: block
                            width: 100%
                            height: 100%
                            object-fit: cover
                            object-position: 50%
                        .info
                            position: absolute
                            width: 100%
                            height: 100%
                            padding: 24px
                            top: 0
                            left: 0
                            opacity: 0
                            transition: all 0.3s ease
                            display: flex
                            flex-direction: column
                            background-color: $black
                            p
                                color: $white
                                font-size: 14px
                                line-height: 18px
                                margin-bottom: 10px
                            .button
                                background-color: $red
                                border: none
                                color: $white
                                padding: 12px
                                margin: 17px 0 0
                                flex: 0 0 38px
                            &:hover
                                opacity: 1