.profile__slider
    margin: 0 auto
    max-width: 960px
    height: 280px
    position: relative
    overflow-x: hidden
    .swiper-slide
        a, div
            display: flex
            width: 100%
            height: 208px
            position: relative
            img
                display: block
                width: 100%
                height: 100%
                object-fit: cover
                object-position: 50%
            p
                background-color: $white
                position: absolute
                display: flex
                justify-content: center
                align-items: center
                width: 100%
                top: 50%
                left: 0
                transform: translateY(-50%)
                color: $black
                padding: 26px 0
                border: 1px solid $black
        .slide__border
            height: 10px
            width: 97.5%
            margin: 0 auto
            background-color: $white
            border: 1px solid $black
            transform: perspective(10px) rotate(180deg) rotateX(3deg)
    &-nav
        .swiper-button-prev, .swiper-button-next
            width: 78px
            height: 78px
            top: 160px
            background: none
            &:before
                content: ''
                display: block
                background: url("../img/icons/profile/angle_left.svg") no-repeat center center / contain
                width: 100%
                height: 100%
                opacity: 1
        .swiper-button-prev
            left: 0
        .swiper-button-next
            right: 0
            &:before
                transform: scaleX(-1)
    .swiper-pagination
        bottom: 0px
        .swiper-pagination-bullet
            width: 10px
            height: 10px
            border-radius: 0
            position: relative
            transform: rotate(45deg)
            background-color: $white
            border: 1px solid $black
            opacity: 1
            &.swiper-pagination-bullet-active
                background-color: $black
    &-reviews
        max-width: 100%
        padding-right: 95px
        overflow: hidden
        .swiper-button-prev, .swiper-button-next
            width: 78px
            height: 78px
            top: 180px
            background: $white
            border: 1px solid $black
            &:before
                content: ''
                width: 78px
                height: 78px
                background: url("../img/icons/profile/angle_right.svg") no-repeat center center / 32px
                position: absolute
                top: 0
                left: 0
        .swiper-button-prev
            display: none
        .swiper-button-next
            right: 35px
        .swiper-button-disabled
            opacity: 0
        .swiper-slide
            background-color: $white
            border: 1px solid $black
            padding: 47px
            overflow: hidden
            position: relative
            .angle
                display: none
                position: absolute
                z-index: 1
                right: -1px
                top: -1px
                width: 62px
                height: 62px
                background-color: $white
                border: 1px solid $black
                &:after
                    content: ''
                    width: 1px
                    height: 87px
                    background-color: $black
                    display: block
                    position: absolute
                    top: -13px
                    right: 29px
                    transform: rotate(-45deg)
            .author
                img
                    display: block
                    width: 72px
                    height: 72px
                    object-fit: cover
                    object-position: 50%
                    margin-bottom: 35px
                b
                    display: block
                    font-size: 24px
                    line-height: 28px
                    margin-bottom: 19px
            p
                margin: 0
                max-width: 390px
            .embed-responsive
                margin: -47px
                width: calc(100% + 94px)
                height: 370px
            &.swiper-slide-active
                clip-path: polygon(0% 0%, calc(100% - 62px) 0%, 100% 62px, 100% 100%, 0% 100%)
                .angle
                    display: block
    &-portfolio
        overflow-x: hidden
        .swiper-slide
            .grid
                display: flex
                justify-content: space-between
                flex-wrap: wrap
                .cell
                    flex: 0 0 250px
                    height: 250px
                    position: relative
                    margin-bottom: 40px
                    img
                        display: block
                        width: 100%
                        height: 100%
                        object-fit: cover
                        object-position: 50%
                    .info
                        position: absolute
                        width: 100%
                        height: 100%
                        padding: 24px
                        top: 0
                        left: 0
                        opacity: 0
                        transition: all 0.3s ease
                        display: flex
                        flex-direction: column
                        background-color: $black
                        p
                            color: $white
                            font-size: 14px
                            line-height: 18px
                            margin-bottom: 10px
                        .button
                            background-color: $red
                            border: none
                            color: $white
                            padding: 12px
                            margin: 17px 0 0
                            flex: 0 0 38px
                        .gallery
                            display: none
                        &:hover
                            opacity: 1
        &-nav
            display: flex
            align-items: flex-start
            justify-content: space-between
            .button
                font-size: 18px
                line-height: 24px
                padding: 19px 30px
                flex: 0 0 297px
                position: relative
                justify-content: flex-start
                img
                    display: block
                    width: 25px
                    height: 30px
                    margin-right: 44px
                &:before
                    content: ''
                    height: 100%
                    width: 8px
                    border: 1px solid $black
                    border-bottom: none
                    border-left: none
                    position: absolute
                    top: 3px
                    right: -8px
                    transform: skewY(45deg)
                &:after
                    content: ''
                    width: calc(100% + 2px)
                    height: 8px
                    border: 1px solid $black
                    border-top: none
                    position: absolute
                    bottom: -8px
                    left: 3px
                    transform: skewX(45deg)
            .swiper-button-prev, .swiper-button-next
                position: static
                width: 78px
                height: 78px
                background: none
                margin: 0
                &:before
                    content: ''
                    display: block
                    background: url("../img/icons/profile/angle_left.svg") no-repeat center center / contain
                    width: 100%
                    height: 100%
                    opacity: 1
            .swiper-button-next
                &:before
                    transform: scaleX(-1)
            .direction
                display: flex
                flex: 1 1 100%
                justify-content: space-between
                margin-left: 72px