.profile
    &__table
        thead
            tr
                th
                    border-top: none
                    border-bottom: 1px solid $black
                    padding: 0 0 8px
                    font-size: 24px
                    line-height: 28px
                    font-weight: 600
                    &:nth-child(2)
                        width: 150px
                    &:last-child
                        width: 160px
        tbody
            tr
                td
                    border: 1px solid $black
                    padding: 24px 29px